@media (max-width:820px) {
    .top-head {
        display: none;
    }

    .main-header {
        margin: 0;
        top: -3px;
        padding: 10px 0;
        
    }

    .main-header section .openNav {
        display: flex;
    }
    .main-header .linktext {
        display: none;
    }

    .main-header .button {
        display: none;
    }

    .hero-sub {
        padding-top: 0px;
        gap: 20px;
    }

    .hero-sub h1 {
        font-size: 1.8rem;
        width: 90%;
    }

    .hero-sub .p2 {
        width: 100%;
    }

    .achieve h1 {
    font-size: 30px;
        margin: 0;
    padding: 0;
}

.achieve div {
    
    padding: 10px;
    

}
.herotwo {
    display:block;
    width: 90%;
    margin: auto;
}

.herotwo .achieve {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
   
}

.herotwo .achieve div {
    justify-content: center ;
    place-items: center;
   
}

.herotwo .achieve div h1 {
    font-size: 40px;
}

.herotwo .ht-exten {
    width: 100%;
    position: relative;
    bottom: 0;
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.1);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.herotwo  .ht-exten>:nth-child(1) {
    
    color: #010127;
    border: #010127 1px solid;
    padding: 5px;
    border-radius: 10px;
}

.core {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 40px;
    
}

.core img {
    width: 100%;
    border-radius: 20px;
}

.core .text {
    width: 100%;
    display: grid;
    gap: 30px;
}

.core .text button {
    width: 55%;
}

.core .text button svg {
  
}

.mandv {
    display: grid;
    gap: 20px;
}

.mandv div {
    width: 100%;
}

.mandv span {
    display: none;
}
}