@media (max-width:440px) {
    .top-head {
        display: none;
    }

    .main-header {
        margin: 0;
        top: 0;
    }

    .main-header section .openNav {
        display: flex;
    }
    .main-header .linktext {
        display: none;
    }

    .main-header .button {
        display: none;
    }

    .hero-sub {
        padding-top: 0px;
        gap: 20px;
    }

    .hero-sub h1 {
        font-size: 1.8rem;
        width: 90%;
    }

    .hero-sub .p2 {
        width: 100%;
    }

    .achieve h1 {
    font-size: 30px;
        margin: 0;
    padding: 0;
}

.achieve div {
    
    padding: 10px;
    

}
.herotwo {
    display:block;
    width: 90%;
}

.herotwo .achieve {
    width: 100%;
}

.herotwo .ht-exten {
    width: 100%;
    position: relative;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-top: 30px;
}

.herotwo  .ht-exten>:nth-child(1) {
    
    color: #010127;
    border: #010127 1px solid;
    padding: 5px;
    border-radius: 10px;
}

}